# URL untuk API
API_URL_DEBUG=https://my-json-server.typicode.com/haidarali93/diariadir-api/
API_URL_RELEASE=https://my-json-server.typicode.com/haidarali93/diariadir-api/

# Konfigurasi lain yang diperlukan
API_KEY=YOUR_API_KEY